{% load static %}
<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="utf-8">
    <title>Diary {{ page_title }}</title>
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
    <meta http-equiv="x-ua-compatible" content="ie = edge">

    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}" />
</head>

        <body>
            {% include 'block/header.html' %}
            <div class="container">
                <!-- Jumbotron -->
                <div class="row m-5">
                    <div class="col-12 text-center" style="margin-top: 3rem">
                        <h1 class="">{{ page_title }}</h1>
                    </div>
                </div>
                <!-- Jumbotron -->

                {% include 'block/messages.html' %}

                <div class="row my-3">
                    <div class="col-12 text-center">
                        <a href="{% url 'create' %}" class="btn btn-primary">新規作成</a>
                    </div>
                </div>

                <div class="row my-3">
                    {% for diary in diary_list %}
                    <!-- 4で割り切れる場合 -->
                    {% if forloop.counter|divisibleby:4 %}
                    </div>
                    <div class="row my-3">
                    {% endif %}
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-header text-end">
                                {{ diary.write_date }}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ diary.title }}</h5>
                                <p class="card-text">{{ diary.content | truncatechars:50 }}</p>
                            </div>
                            <div class="card-footer">
                                <a href="{% url 'read' diary.id %}" class="btn btn-primary">詳細</a>
                                <a href="{% url 'edit' diary.id %}" class="btn btn-success">編集</a>
                                <a href="{% url 'delete' diary.id %}" class="btn btn-danger">削除</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
            

        <script type="text/javascript" src="{% static 'js/mdb.umd.min.js' %}"></script>
    </body>

</html>