{% load static %}
<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
    <meta http-equiv="x-ua-compatible" content="ie = edge">

    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}" />

</head>

<body>
    <div class="container">
        {% include 'block/top.html' %}


        <div class="row text-center">
            <div class="col-12">
                <h4>パスワードリセットのメールを送信しました</h4>
                <h4>メールに記載されたパスワードを入力してログインしてください。</h4>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 offset-md-4">
                <a type="button" class="btn btn-primary btn-block" 
                href="{% url 'login' %}"
                data-mdb-ripple-init>ログインページへ</a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/mdb.umd.min.js' %}"></script>
</body>

</html>